:root {
  /* 
  de - default
  au - auxiliary 
  ac - accent
  pa - paragraph
  lo - logo
  da - dark
  he - heading
  wh - white
  */

  /* Text */
  --font-family__base: 'Roboto', sans-serif;
  --font-family__logo: 'Raleway', sans-serif;

  --line-height: 1.5;
  --font-color: #434455;

  /* Background */
  --background-de: #ffffff;
  --background-au: #f4f4fd;
  --background-da: #2e2f42;

  /* Color */
  --color-ac: #4d5ae5;
  --color-he: #2e2f42;
  --color-de: #434455;
  --color-wh: #ffffff;
  --color-wh-2: #e7e9fc;
}

/* //////////////////////////////////////////////// */
/* style */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-de);
  line-height: 1.5;
}

a {
  color: var(--color-de);
}

address {
  font-style: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: var(--color-he);
}
h2 {
  margin-top: 0;
  margin-bottom: 72px;

  text-align: center;

  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
}
h3 {
  font-weight: 500;
  line-height: 1.2;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* //////////////////////////////////////////////// */
/* body-header */

.body-header--blok {
  border-bottom: 1px solid var(--color-wh-2);
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;
}

/* //////////////////////////////////////////////// */
/* nav-global */

.nav-global {
  display: flex;
  align-items: center;
}

.nav-global--list {
  display: flex;
}
.nav-global--link {
  color: var(--color-he);
  font-weight: 500;
  letter-spacing: 0.32px;
}
.nav-global--item:not(:last-child) {
  margin-right: 40px;
}

/* //////////////////////////////////////////////// */
/* address */

.address a:not(:last-child) {
  margin-right: 40px;
}

/* //////////////////////////////////////////////// */
/* body-footer */

.body-footer {
  color: var(--color-wh);
  background-color: var(--background-da);
}

/* //////////////////////////////////////////////// */
/* logo */

.logo {
  font-family: var(--font-family__logo);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: var(--color-ac);
}

.logo__black {
  color: var(--color-he);
}

.logo__white {
  color: var(--color-wh);
}

/* //////////////////////////////////////////////// */
/* btn */

.btn {
  display: block;
  min-width: 170px;

  padding-top: 16px;
  padding-bottom: 16px;

  border: none;
  border-radius: 4px;

  color: var(--color-wh);
  background-color: var(--color-ac);
}

/* //////////////////////////////////////////////// */
/* section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* //////////////////////////////////////////////// */
/* container */

.container {
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

/* //////////////////////////////////////////////// */
/* auxiliary */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
