.chess-grid > section:nth-child(2n) {
  background-color: var(--background-au);
}

/* //////////////////////////////////////////////// */
/* hero */

.hero--section {
  padding-top: 112px;
  padding-bottom: 122px;

  background-image: url(../img/hero/desktop.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.hero--container {
  margin-left: auto;
  margin-right: auto;
}
.hero--title {
  margin-top: 0;
  margin-bottom: 36px;

  text-align: center;
  color: var(--color-wh);
}

.hero--btn {
  margin-left: auto;
  margin-right: auto;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

/* //////////////////////////////////////////////// */
/* advantages */

.advantages--list {
  display: flex;
  justify-content: space-between;
}

.advantages--subtitle {
  margin-top: 8px;
}

.advantages--text {
  margin-top: 8px;
}

/* //////////////////////////////////////////////// */
/* team */

.team--list {
  display: flex;
  justify-content: space-between;

  margin-top: 72px;
}

.team--item {
  padding-bottom: 32px;

  background-color: var(--color-wh);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team--item.order > img {
  order: -1;
}

.team--item > h3 {
  margin-top: 32px;
  text-align: center;
}

.team--item-header > p {
  margin-top: 8px;
  text-align: center;
}
.team--item-header > ul {
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* //////////////////////////////////////////////// */
/* portfolio */
.portfolio--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 72px;
}

.portfolio--item {
  padding-bottom: 32px;

  border: 1px solid var(--color-wh-2);
  background: var(--color-wh);
}
.portfolio--item.order > img {
  order: -1;
}
.portfolio--item > h3 {
  margin-top: 32px;
}

.portfolio--item-header > p {
  margin-top: 8px;
}
